-var items = ["INVENTORY","FRONT DESK","COMUNICATION","TOUR OPERATION","PAYROLL","FIXED ASSET","MANAGMENT","COMUNICATION","TOUR OPERATION"]
mixin navs(val,index)
  .column.center
    a.none(href="#{'#'+index}") coki
    .oval(class="l#{index}",data-id="#{index}") 
      img.log(src="img/logo#{index + 1}.png")
    p(class="p#{index}") #{val}

br
.columns
  each val,index in items
    +navs(val,index)
