-var items = ["FRONT DESK","POINT OF SALES","INVENTORY","ACCOUNTING","FIXED ASSET","PAYROLL","TOUR OPERATION","DECISION SUPPORT SYSTEM","MANAGEMENT","COMUNICATIONS","MULTIPROPERTY","MAILING SERVICES","ONLINE BOOKING SYSTEM"]
mixin navs(val,index)
  .item.center
    a.none(href="#{'#'+index}")
    if index<9
      .oval(class="l#{index}",data-id="#{index}")
        img.log(src="img/logo#{index + 1}.png")
      p(class="p#{index}") #{val}
    else
      .oval(class="l#{8}",data-id="#{index}")
        img.log(src="img/logo#{10}.png")
      p(class="p#{8}") #{val}

br
.owl-carousel.coki.owl-theme
  each val,index in items
    +navs(val,index)
